GitPython==2.0.8
Jinja2==2.9.6
MarkupSafe==1.0
Pygments==2.2.0
alabaster==0.7.10
babel==2.4.0
docutils==0.12
gitdb==0.6.4
imagesize==0.7.1
pytz==2017.2
requests==2.13.0
six==1.10.0
smmap==0.9.0
snowballstemmer==1.2.1
sphinx==1.6.3
sphinxcontrib-httpdomain==1.5.0

git+https://github.com/petermd/sphinx_rtd_theme@43bb90b258aab4c707ae90c2bfee0c5d6ec2f4c8
